footer
    .footer_column
        .footer_column-title support
        ul 
            li
                a(href="#") faq
            li
                a(href="#") privacy policy
            li
                a(href="#") terms and conditions
            li
                a(href="#") accessibility

    .footer_column
        .footer_column-title follow us
        ul 
            li
                a(href="#") instagram
            li
                a(href="#") pinterest
            li
                a(href="#") facebook
            li
                a(href="#") newsletter
    .footer_column
        .footer_column-title your eyewear
        ul 
            li
                a(href="#") our studios
            li
                a(href="#") career
            li
                a(href="#") press
            li
                a(href="#") contact us