header
    .header_column
        ul
            li
                a(href="#") nail studios
            li
                a(href="#") shop product
    .header_column
        h1 your eyewear
    .header_column
        ul
            li
                a(href="#") journal
            li
                a(href="#") 
                    i.fas.fa-shopping-bag