extends templates/layout

block content
    section.main-article
        img(src="./img/eyewear1.jpg")
        .main-article_content
            p Your eyewear and first impression go hand in hand. Re-connect over Your Eyewear in the new year with in-studio and virtual dates.
            a(href="#") discover more
                i.fas.fa-arrow-right
    section.article
        img(src="./img/studio.jpg")
        .article_content
            h2 our studios
            p Book new pair of glasses at our Soho flagship studio or our new Uptown studio. 
            a(href="#") book a slot
                i.fas.fa-arrow-right
