extends templates/layout

block content
    section.main-article
        img(src="./img/eyewear1.jpg")
        .main-article_content
            p Your eyewear and first impression go hand in hand. Re-connect over Your Eyewear in the new year with in-studio and virtual dates.
            a(href="#") discover more
                i.fas.fa-arrow-right
    section.article
        img(src="./img/studio.jpg")
        .article_content
            h2 our studios
            p Book new pair of glasses at our Soho flagship studio or our new Uptown studio. 
            a(href="#") book a slot
                i.fas.fa-arrow-right
    section.article.gift
        img(src="./img/eyewear2.jpg")
        .article_content.gift
            h2 gift sets
            p Give the gift of the Your Eyewear experience for a pair of glasses that tells a story. 
            a(href="#") buy gift set
                i.fas.fa-arrow-right
    section.blog
        article.blog_post
            img(src="./img/sunglasses.jpg")
            .post_content
                h3 dec 10, 2020
                h1 New and Now : Savour The Sun
                a(href="#") read story
                    i.fas.fa-arrow-right
        article.blog_post
            img(src="./img/leopard.jpg")
            .post_content
                h3 Jan 13, 2021
                h1 New and Now : Everything About Leopard
                a(href="#") read story
                    i.fas.fa-arrow-right
        article.blog_post
            img(src="./img/fall-design.jpg")
            .post_content
                h3 Nov 9, 2020
                h1 New and Now : Warm Metal
                a(href="#") read story
                    i.fas.fa-arrow-right
        article.blog_post
            img(src="./img/eyewear3.jpg")
            .post_content
                h3 Oct 26, 2020
                h1 Point Of View : Olivia Landau
                a(href="#") read story
                    i.fas.fa-arrow-right
    section.gallary
        img(src="./img/gallary1.jpg")
        img(src="./img/gallary2.jpg")
        img(src="./img/gallary3.jpg")
        img(src="./img/gallary4.jpg")
        img(src="./img/gallary5.jpg")
        img(src="./img/gallary6.jpg")
        img(src="./img/gallary7.jpg")
        img(src="./img/gallary8.jpg")